<html>
<head>
  <link rel="stylesheet" type="text/css" href="vendor/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="app.css"/>
</head>
<body ng-app="lookahead">

  <ng-view></ng-view>

  <script type="text/ng-template" id="new.html">
    <div class="row">
      <div class="col-md-5">
        <form role="form">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" ng-model="newPost.title" placeholder="...">
          </div>
          <div class="form-group">
            <label for="body">Body</label>
            <textarea id="body" class="form-control" ng-model="newPost.body"></textarea>
          </div>
          <button type="submit" class="btn btn-default" ng-click="addNewPost()">Submit</button>
        </form>
      </div>
      <div class="col-md-2"></div>

      <div class="col-md-5">
        <ol>
          <li ng-repeat="post in posts" ng-if="post.title">
            <h1>{{post.title}}</h1>
            {{post.body | limitTo: 30}}

            <span ng-if="isBig(post.body)">
              ...
            </span>

            <div>
              <a href="#/details/{{$index}}">Preview</a>
            </div>
          </li>
        </ol>

      </div>
    </div>
  </script>

  <script type="text/ng-template" id="details.html">
    <h1>{{post.title}}</h1>
    <markdown></markdown>
  </script>

  <script type="text/ng-template" id="markdown.html">
    <div class="post-body" ng-transclude>

    </div>
  </script>

  <script type="text/javascript" src="vendor/js/angular.js"></script>
  <script type="text/javascript" src="vendor/js/angular-route.js"></script>
  <script type="text/javascript" src="vendor/js/ui-bootstrap-0.11.0.js"></script>
  <script type="text/javascript" src="vendor/js/showdown.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>